<footer>
    <nav>
      <div class="nav-links-container">
        <ul class="nav-links">
          <% links.forEach(link => { %>
            <li><a href="#<%= link.id %>"><%= link.name %></a></li>
          <% }); %>
        </ul>
      </div>
    </nav>
    <p>Copyright © 2025 <%= myName %>. All Rights Reserved.</p>
  </footer>

  <script src="/public/script.js"></script>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script>
    var typed = new Typed('.myName', {
      strings: ['<%= myName %>'],
      typeSpeed: 150,
      backSpeed: 150,
      loop: true
    });
  </script>
</body>
</html>