<%- include('partials/header') %>
    <section id="profile">
      <div class="profile-container">
        <img src="/public/assets/jianming_zheng.JPG" alt="My profile picture" />
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello</p>
        <h1>I'm <span class="myName"></span></h1>
        <p class="section__text__p2">A second-year student at UCI</p>
        <div class="btn-container">
          <button class="btn btn-color-2" onclick="window.open('/public/assets/Resume.pdf')">
            Download CV
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            Contact Info
          </button>
        </div>
        <div id="socials-container">
          <img
            src="/public/assets/linkedin.png"
            alt="My LinkedIn profile"
            class="icon"
            onclick="location.href='https://www.linkedin.com/in/jianming-zheng-a207aa278/'"
          />
          <img
            src="/public/assets/github.png"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/jeremyunoz'"
          />
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="/public/assets/backgroundImg.png"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <img src="/public/assets/experience.png" alt="Experience icon" class="icon" />
              <h3>Experience</h3>
              <p>2+ years <br />Programming Experience</p>
            </div>
            <div class="details-container">
              <img src="/public/assets/education.png" alt="Education icon" class="icon" />
              <h3>Education</h3>
              <p>
                B.S.Computer Science & Engineering (Currently Pursuing)<br />
                University of California, Irvine
              </p>
            </div>
          </div>
          <div class="text-container">
            <p>
              Love tennis, climb mountains, workout, League of Legends, and coding
              <br />
              <br />
              <strong>Quote: </strong> Any fool can write code that a computer can understand. Good programmers write code that humans can understand - Martin Fowler
            </p>
          </div>
        </div>
      </div>
      <img
        src="/public/assets/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#experience'"
      />
    </section>
    <section id="experience">
      <p class="section__text__p1">Explore My</p>
      <h1 class="title">Experience</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Frontend Development</h2>
            <div class="article-container">
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>HTML</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>CSS</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>JavaScript</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Backend Development</h2>
            <div class="article-container">
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>Python</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>C++</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>Java</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>Git</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img src="/public/assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h3>GitHub</h3>
                  <p>Basic</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <img
        src="/public/assets/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#projects'"
      />
    </section>
    <section id="projects">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img src="/public/assets/personalWeb.png" alt="Project 1" class="project-img" />
            </div>
            <h2 class="experience-sub-title project-title">Personal Website</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://jeremyunoz.github.io/'"
              >
                Github
              </button>
              <!-- <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://jeremyunoz.github.io/'"
              >
                Live Demo
              </button> -->
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="/public/assets/still-working.png"
                alt="Currently Developing"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">On my way!!!</h2>
            <!-- <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/jeremyunoz'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/jeremyunoz'"
              >
                Live Demo
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <img
        src="/public/assets/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#contact'"
      />
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="/public/assets/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a href="mailto:jianmiz1@uci.edu">jianmiz1@uci.edu</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="/public/assets/linkedin.png"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p>
            <a href="https://www.linkedin.com/in/jianming-zheng-a207aa278/" target="_blank">LinkedIn</a>
          </p>
        </div>
      </div>
    </section>

    <script src="script.js"></script>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
      var typed = new Typed('.myName', {
        strings: ['Jianming Zheng'],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
  <%- include('partials/footer') %>
